@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');

/* shared styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background: #FF900E;
    color: #FFF;
    padding: 20px 25px;
    font-size: 20px;
    cursor: pointer;
    border: 0;
}

.text-light-gray {
    color: #727272;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */
header {
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a {
    color: #424242;
    text-decoration: none;
}


/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.banner img {
    margin-top: 30px;
    width: 100%;
}


/* main sections styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .of-our {
    color: #131313;
    font-weight: 700;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;

}

/* features section style */
.features {
    
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.feature-content .card {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342PX;
    padding: 40px;
}
.ten-years-badge h2{
    font-size: 4rem;
}

/* fact section styles */
.section-title {
    margin-bottom: 24px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    margin-top: 50px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 35px;
    height: 200px;
    width: 200px;
}

.facts-card-container .card-starts {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsors styles */

.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;

}

.sponsors-img-container img {
    width: 165px;
}






/* responsive media queries */
/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column
    }




    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container {
        gap: 0px;
        align-items: center;
        margin-top: 10px;
    }
}


/* tablet and medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column
    }

    .facts-card-container {
        gap: 5px;
    }

}